img {
  width: 100%;
  max-width: 100%;
}

.ui-content {
  background-color: #333;
}

.ui-body-d, .ui-overlay-d {
  background: #333;
  border: 0px;
  color: #fff;
}

video {
  width: 100%    !important;
  height: auto   !important;
}
